.triangle {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    border: 3px solid rgb(233, 180, 65);
    position: relative;
    
   
    
}

img {
    position: absolute; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}