.square { 
    aspect-ratio: 1 / 1;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 2px solid saddlebrown;
    position: relative;

}


.cell { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
 


}
.express{ 
    
    font-size: 30px;
    height: 20%;

}

.textLabel  {
    height: 20%; 
    font-size: 30px;

}
.expressIcon { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    
}
